<div class="panel panel-default" ng-repeat="message in messages">
  <div class="panel-heading">{{ message.user }}</div>
  <div class="panel-body">{{ message.message }}</div>
</div>

<form name="form" role="form" ng-submit="form.$valid && sendMessage(newMessage)">
  <div class="form-group">
    <label for="message">New message</label>
    <input type="text" class="form-control" id="message" ng-model="newMessage.text" required>
  </div>
  <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Send</button>
</form>