<h1>AwesomeChat client</h1>

<hr>

<form name="form" role="form" ng-submit="form.$valid && login(name)">
  <div class="form-group">
    <label for="name">Your name</label>
    <input type="text" class="form-control" id="name" ng-model="name" required>
  </div>
  <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Login</button>
</form>

<img src="images/awesome.png" width="300">